.Header{
  grid-area: h;
  background-color: #22cbcb;
  img {
    width: 40px;
    padding-left: 140px;
    padding-top: 10px;
  }
  text {
    padding-left: 150px;
    font-variant: small-caps;
    font-size: 25px;
    color: indigo;
  }
}

.loginBlock{
  float: right;
  font-variant: small-caps;
  font-size: 25px;
  color: indigo;
}