
.nav {
  grid-area: n;
  background-color: #46546d;
  color: white;
  padding: 20px;

}

.MenuItem{
  padding: 12px;
  justify-content: center;
  display: flex;
}

.nav a {
  color: #1af3f3;
  text-decoration: none;
  display: inline-block;
  position: relative;
  text-decoration: none;
  svg {
    //width: 116px;
    height: 45px;
    position: absolute;
    left: 50%;
    bottom: calc(50% - 15px);
    transform: translate(-50%, 7px) translateZ(0);
    fill: none;
    stroke: var(--stroke, var(--line));
    stroke-linecap: round;
    stroke-width: 2px;
    stroke-dasharray: var(--offset, 69px) 278px;
    stroke-dashoffset: 361px;

    transition: stroke 0.25s ease var(--stroke-delay, 0s),
    stroke-dasharray 0.35s;
  }

  &:hover {
    --stroke: var(--line-hover);
    --stroke-delay: 0.1s;
    --offset: 180px;
  }
}
 .nav a.activeLink {

  color: rgb(255, 255, 255);
  --stroke: var(--line-active);
  --stroke-delay: 0.1s;
  --offset: 180px;
}

.active {

  color: rgb(255, 255, 255);
  --stroke: var(--line-active);
  --stroke-delay: 0.1s;
  --offset: 180px;
}


:root {
  --text: #2b3044;
  --line: rgba(253, 14, 14, 0);
  --line-active: #02abee;
  --line-hover: #1af3f3;
}
