.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  text-decoration: none;
  cursor: pointer}

  .dialogsItems {
    padding: 20px;
    text-decoration: brown;
  }
.active{
    color: gold;
    text-decoration: brown;
}

 .test{
   color: chartreuse;
 }
  .messages {
    padding: 20px;
  }

  .dialog {
    text-decoration: brown;
  }


